@font-face {
  font-family: 'Atkinson Hyperlegible';
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src:
    local(''),
    url('/assets/fonts/atkinson/atkinson-hyperlegible-regular.woff2') format('woff2');
}

@font-face {
  font-family: 'Atkinson Hyperlegible';
  font-style: italic;
  font-display: swap;
  font-weight: 400;
  src:
    local(''),
    url('/assets/fonts/atkinson/atkinson-hyperlegible-italic.woff2') format('woff2');
}

@font-face {
  font-family: 'Atkinson Hyperlegible';
  font-style: normal;
  font-display: swap;
  font-weight: 700;
  src:
    local(''),
    url('/assets/fonts/atkinson/atkinson-hyperlegible-bold.woff2') format('woff2');
}

@font-face {
  font-family: 'Redhat';
  font-style: normal;
  font-display: swap;
  font-weight: 900;
  src:
    local(''),
    url('/assets/fonts/redhat/red-hat-display-v7-latin-900.woff2') format('woff2');
}

/* Spectral - Serif font for body text */
@import url('https://fonts.googleapis.com/css2?family=Spectral:wght@300;400;600&display=swap');

/* IBM Plex Mono - Monospace font for labels and UI */
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@400;600&display=swap');
