---
layout: base
permalink: /index.html
title: 'Adam Kucharczyk'
description: 'Adam Kucharczyk - szkolenia IT'
blog:
  title: 'Blog'
  intro: "Co mnie zainteresowało, czym się zajmowałem"
---

<div class="wrapper">
  <header class="full | section" style="--spot-color: var(--color-primary)">
    <div class="section__inner flow region">
      <h1 class="text-center" style="color: var(--color-light);">{{ title }}</h1>
    </div>
    {% svg "divider/waves",
    null,
    "divider" %}
  </header>

  <article class="full | region">
    <div class="prose wrapper flow">
      <h2 id="an-eleventy-starter">AI dla specjalistów IT</h2>
      <p>
        Jesteś seniorem i chcesz poznać narzędzia, które pozwolą Ci przenieść swoje seniority do świata wspomaganego AI. Zastanawiasz się, jak wykorzystać doświadczenie i wiedzę w nowym kontekście zawodowym, w projektach, w których dużą część kodowania wykonuje maszyna?
      </p>
      <p>
        Zapraszam na spotkania i kursy, które pokazują, że AI nie wypycha z rynku pracy - ono powoduje, że Twoje seniority jest <strong>jeszcze cenniejsze</strong>.
      </p>
      <p>
        I może być lepiej płatne...  
      </p>
    </div>
  </article>

  <section class="full | region">
    <div class="prose wrapper flow">
      <h2>{{ blog.title }}</h2>
      {% if blog.intro %}
        <p>{{ blog.intro }}</p>
      {% endif %}
      <div class="feature |  region region-space-l">
        <custom-masonry layout="50-50">
          {% set itemList = collections.allPosts %}
          {% asyncEach item in itemList.slice(0, 4) %}
          {% set headingLevel = "h3" %}
          {% include "partials/card-blog.njk" %}
          {% endeach %}
        </custom-masonry>
      </div>
    </div>
  </section>
</div>