<footer class="site-footer">
  <div class="footer-wrapper">
    <div class="copyright">&copy; {% year %} {{ meta.siteName }}</div>
    <nav aria-label="{{ meta.navigation.ariaBottom }}">
      <ul class="footer-nav" role="list">
        {% for item in navigation.bottom %}
          <li>
            <a
              href="{{ item.url }}"
              {{
                helpers.getLinkActiveState(item.url, page.url)
                | safe
              }}
              >{{ item.text }}</a
            >
          </li>
        {% endfor %}
      </ul>
    </nav>
  </div>
</footer>
