<a href="#main" class="skip-link visually-hidden">{{ meta.skipContent }}</a>

<header class="site-header">
  <div class="nav-wrapper">
    <a href="/" class="site-logo" {{ indicateActiveHome }}>{{ meta.siteName }}</a>
    {% include "partials/main-nav.njk" %}
  </div>
</header>
